<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754398508778-7umrg4ssbdss6m8jftovn7fep4h42fro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754398508778-7umrg4ssbdss6m8jftovn7fep4h42fro</string>
	<key>API_KEY</key>
	<string>AIzaSyAKxHRAkF9bEza8n0chSDyoahCZID2ZZuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>754398508778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rebelhippo.ggj2023</string>
	<key>PROJECT_ID</key>
	<string>ggj2023-cbcf5</string>
	<key>STORAGE_BUCKET</key>
	<string>ggj2023-cbcf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754398508778:ios:e7f1b17a3554694c3e4993</string>
</dict>
</plist>